<div class="jumbotron text-center">
  <h1>Olympic Events Page</h1>
  <p>Please click below to find an event!</p>
  <p><a class="btn btn-primary btn-lg" href="/events" role="button">See Events</a></p>
</div>
